@import "~src/scss/vars";

:host {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.album-image {
    background-color: #d8d8d8;
    padding-top: 100%;
    background-size: cover;
}
.album-details {
    > div {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding: 10px 10px 0px;
        color: $white;
        font-size: 0.9em;
    }
    .album-artist {
        color: $grey;
    }
}
